<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
        <%- include('includes/navigation.ejs') %>

    <main>
        <h1>Page Not Found!</h1>
    </main>
    <%- include('includes/footer.ejs') %>