<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Add Product</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
</head>
<body>
  <header>
      <nav>
          <ul>
              <li><a href="/">Shop</a></li>
              <li><a href="/add-product">Add Product</a></li>
          </ul>
      </nav>
  </header>
  <main>
      <form action="/add-product" method="POST">
    <input type="text" name="title">
    <button type="submit">Add Product</button>
</form>
  </main>
</body>
</html>