<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Add Product</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a class="active" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="product-form" action="/add-product" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title">
            </div>
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>
</html>